{% extends "base.html" %}
{% block content %}
    
    <ul>
        <li>
        Built by <a href="http://twitter.com/richardjpope">Richard Pope</a> to make train journeys a bit more interesting.
        </li>
        <li>
            Wikipedia articles come via the brilliant <a href="http://wikilocation.org/">WikiLocation API</a>. 
        </li>
        <li>
            Built using <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://jquerymobile.com/">jQuery Mobile</a>.
        </li>
    </ul>
		
{% endblock %}
