<!DOCTYPE html> 
<html>
<head>
    <title>Wikicity 125</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='images/startup.png') }}" rel="apple-touch-startup-image" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>	
</head> 
<body>

<div data-role="page">

	<div id="header" data-role="header">
		<h1><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"/></a> <span class="hide">Wikicity125</span></h1>
		<a href="/about" data-icon="info" class="ui-btn-right">About</a>
	</div><!-- /header -->

	<div data-role="content">
		{% block content %}
		
        {% endblock %}	
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>