{% extends "base.html" %}
{% block content %}
	<script>
		var mode='{{mode}}';
	</script>
	{% if mode == 'start' %}
		<h1>
			Wikicity125 finds nearby Wikipedia articles as you travel through the landscape.
		</h1>
		<!-- <h2>If you are on currently on the move ...</h2> -->
		<a href="/?mode=run" data-role="button" data-theme="b">I am on the move,<br/>start searching</a>
		<a href="/?mode=example" data-role="button" >Watch example journey from <br/>Clerkenwell to Tulse Hill</a>
	{% else %}
    	<ul id="results" data-role="listview">
    	</ul>
    {% endif %}
{% endblock %}
